@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <div class="title-center">
            <h2 align="center" class="titulo">Universidad Tecnol&oacute;gica Nacional <br> Facultad Regional Rosario</h2>
            <p align="center" class="subtitulo">Sistema de autogesti&oacute;n alumnos</p>
        </div>
    </div>
</div>
