@using Business.Entities
@using Business.Logic

@model Business.Entities.Plan
@{ 
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Curso> cursos = new CursoLogic().GetAll();
}

<h1 class="mt-2">Cursoss</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Entidades</li>
    <li class="breadcrumb-item">Planes</li>
    <li class="breadcrumb-item active">Eliminar</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-book me-1"></i> Eliminar Plan
    </div>
    <div class="card-body">

        <div class="alert alert-danger">
            ¿Desea eliminar el curso <b>@Html.DisplayTextFor(p => p.Descripcion)</b>?
        </div>

        <form action="@Url.Action("Eliminar","Plan")" method="post">
            <input type="hidden" class="form-control" name="ID" value="@Html.DisplayTextFor(p => p.ID)" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a class="btn btn-warning" href="@Url.Action("Planes","Home")">Volver</a>
        </form>

    </div>
</div>
