@model Business.Entities.Usuario

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Entidades</li>
    <li class="breadcrumb-item">Usuarios</li>
    <li class="breadcrumb-item active">Eliminar</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Eliminar Usuario
    </div>
    <div class="card-body">
        <div class="alert alert-danger">
            ¿Desea eliminar el usuario <b>@Html.DisplayTextFor(m => m.NombreUsuario)</b>?
        </div>
        <form action="@Url.Action("Eliminar","Usuario")" method="post">
            <input type="hidden" class="form-control" name="ID" value="@Html.DisplayTextFor(m => m.ID)" />

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a class="btn btn-warning" href="@Url.Action("Usuarios","Home")">Volver</a>
        </form>

    </div>
</div>
